@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -260px;         
        top: 0;
        width: 240px;
        height: 100vh;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .sidebar-header {
    margin-top: 28px;
    text-align: center;
    }

    .sidebar-title {
        font-size: 1.4rem;
        font-weight: 800;
        letter-spacing: 1px;
        color: #ffffff;
    }

    .sidebar-sub {
        font-size: 0.75rem;
        color: #9ca3af;
        margin-top: 3px;
    }

    .sidebar.open {
        left: 0;               
    }

    .layout .main-content {
        margin-left: 0;         
        padding: 15px;
    }

    .hamburger-btn {
        position: fixed;
        top: 18px;
        left: 18px;

        width: 44px;
        height: 44px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;

        background: rgba(15,15,15,0.85);
        backdrop-filter: blur(6px);
        border: 1px solid rgba(255,255,255,0.06);
        border-radius: 10px;

        padding: 10px;
        cursor: pointer;
        z-index: 1100;

        box-shadow: 0 0 18px rgba(0,0,0,0.6);
        transition: all 0.25s ease;
    }

    .hamburger-btn:hover {
        border-color: rgba(239,68,68,0.5);
        box-shadow: 0 0 14px rgba(239,68,68,0.4);
    }


    .hamburger-btn span {
        width: 100%;
        height: 2.5px;
        background: #ef4444;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        z-index: 900;
    }
    .sidebar-nav {
        overflow-y: auto;
    }
}
