.dashboard-page {
    height: 100vh;
    overflow-y: auto;
    padding: 25px 30px;
    background: #f8f9fb;
    color: #111;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.dashboard-page h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.dashboard-page h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.dashboard-page p {
    margin: 8px 0;
    font-size: 0.95rem;
}

.dashboard-container-box {
    border: 2px solid #000;
    background: #fff;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 12px 0 22px 0;
    border-radius: 12px;
}


.dashboard-box{
    border: 2px solid #000;
    border-radius: 12px;
    background: #fff;

    min-width: 180px;
    flex: 1;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.2s ease;
}

.dashboard-box:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #000;
}


.dashboard-big-box {
    border: 2px solid #000;
    border-radius: 12px;
    background: #fff;

    flex: 1;
    min-width: 300px;
    height: 280px;

    padding: 18px;
}

.dashboard-big-box-progress {
    border: 2px solid #000;
    border-radius: 12px;
    background: #fff;

    flex: 1;
    min-width: 420px;
    height: 360px;

    padding: 15px;
}

.dashboard-big-box-progress-pie{
    border: 2px solid #000;
    border-radius: 12px;
    background: #fff;

    flex: 1;
    min-width: 300px;
    height: 360px;

    padding: 15px;
}

.dashboard-section-title {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.05rem;
}

.dashboard-box ul {
    padding-left: 18px;
    margin-top: 6px;
}

.dashboard-box li {
    font-size: 0.9rem;
    margin-bottom: 3px;
}

@media (max-width: 1100px){
    .big-box-progress,
    .big-box-progress-pie {
        min-width: 100%;
    }
}

@media (max-width: 700px){
    .dashboard-container-box {
        flex-direction: column;
    }
}