.progress-game-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.progress-game-box {
    background: #ffffff;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.06);
    transition: all 0.2s ease;
    text-align: left;
}

.progress-game-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.progress-game-box h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #6b7280;
    margin-bottom: 10px;
    text-align: center;
}

.progress-game-box p {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111827;
    text-align: center;
    justify-content: center;
}

.progress-upper-container {
    margin: 30px 0;
}

.progress-calendar {
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    background: #f9fafb;
    text-align: center;
}

.color-empty { fill: #1f2937; }
.color-scale-1 { fill: #14532d; }
.color-scale-2 { fill: #166534; }
.color-scale-3 { fill: #22c55e; }
.color-scale-4 { fill: #4ade80; }


.progress-third-container {
    border: 2px solid #000;
}

.progress-third-container {
    background: #f9fafb;
    padding: 30px;
    border-radius: 24px;
    margin: 40px 0;
}

.progress-charts-holder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}



.progress-bar-item,
.progress-pie-item {
    background: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.06);
    height: 380px;
}

.progress-routine-history-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.progress-routine-history-container th {
    text-align: left;
    font-weight: 600;
    font-size: 0.85rem;
    color: #6b7280;
    padding: 14px 0;
    border-bottom: 1px solid #e5e7eb;
}

.progress-routine-history-container td {
    padding: 16px 0;
    border-bottom: 1px solid #f3f4f6;
    font-size: 0.95rem;
}

tr:hover {
    background: #f9fafb;
}


.progress-stats-holder{
    margin-top: 10px;
}

.progress-page {
    padding: 40px 60px;
    background: #f3f4f6;
    min-height: 100vh;
}

.progress-routine-history-container{

    padding: 25px;
    border: 2px solid black;
    border-radius: 24px;
    margin: 40px 0;
}
